.searchBar{
    display: flex;
    justify-content: space-between;
}

.instaCursive{
    width: 200px;
    height: 100%;
  
}

.searchBarLeft svg{
    width: 40px;
    height: 40px;
}

.form-group input{

    width: 300px;
    

}

