.commentSection{
    display: flex;
    flex-wrap: wrap;
}

.likeAndComment{
    width: 100%;
    text-align: left;
}

.likes{
    width: 100%;
    text-align: left;
}

.comment{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
}

.comment h3{
    width: 20%
}

.comment p{
    width: 80%;
}
